<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/service">Service</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>About Me</h1>

    <div class="about-content">
        <div class="column left">
            <img src="images/profile.jpg" alt="My Photo" />
        </div>
        <div class="column right">
            <div class="text">
                I'm Nischal and I'm a <span class="typing-2"></span>
            </div>
            <p>
                My name is Nischal. I am a Web developer and Student. I am currently pursuing a diploma in software engineering technician. I love to code. I have learned C#, HTML, CSS, JavaScript, and Java.
                I have created some websites using HTML, CSS, and JavaScript. Now I am focusing on backend web development.
                I like swimming, craft making, reading books.
            </p>
            <a href="resume.pdf"> <button>Download CV</button></a>
        </div>
    </div>

    <!-- Add your additional content here -->

    <script src="script.js"></script>
</body>
</html>
