<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include your CSS and other head content -->
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/service">Service</a>
    <a href="/contact">Contact</a>
  
  <h1>Home Page</h1>
   <!-- Home Section -->
   <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text-1">Hello, my name is</div>
        <div class="text-2">Nischal Adhikari</div>
        <div class="text-3">And I'm a <span class="typing"></span></div>
       
        <h2>Messages</h2>
        <ul id ="message-list"></ul>
      </div>
    </div>
  </section>
</body>
</html>
